.articles_form_left{
	width: 300px;
	float: left;
}

.articles_form_right{
	margin-top: -12px;
	width: 65%;
}

.form_articles_button{
	margin-top: 5px;
	margin-bottom: 5px;
}

.form_articles_button_back{
	margin-left: 5px;
}

.f_contacts{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 665px;
}

.f_level{
	min-width: 665px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(98,141,182,0.1);
}

.div_contact{
	width: 260px;
	float: left;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 12px;
}

.div_contact_phone{
	width: 95px;
	float: left;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 12px;
}

.l_contact, .l_ans{
	margin: 0;
}

.t_ans{
	width: 99%;
}

.f_ans{
	margin-bottom: 5px;
	background-color: rgba(98,141,182,0.1);
}

.add_ans{
	cursor: pointer;
}

.message_guarantee{
	width: 220px;
}